burst-domain/src/main/resources/schema/messageSchema.xsd

<?xml version="1.0" standalone="yes"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0">
	
	<xs:element name="message" type="messageMsg">
		<xs:annotation>
			<xs:documentation>
				A message describing a log, an exception, or a report. 
				People subscribe to a topic, and a severity - e.g. email me messages about T, with severity greater than S.
				Metadata can be used to trace processing of a particular data item or file.
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="messageMsg">
		<xs:sequence>
			<xs:element name="dateTimeCreated" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>
						The date and time that the log was generated by the source system
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="severity" type="severity">
				<xs:annotation>
					<xs:documentation>
						The severity of the message
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="source" type="xs:string">
				<xs:annotation>
					<xs:documentation>
						The system or component responsible for generating the message
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="details" type="xs:string">
				<xs:annotation>
					<xs:documentation>
						The (human readable) text of the message
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="topic" type="xs:string" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>
						A short string, with the topic of the message.  Could be the component or package name.  Could be the purpose of the message.
						Tags, if you like.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="metadata" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>
						Categorised tags for more in-depth data mining.  For example, a filename, a participant identifier, a submitting data centre
					</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="key" type="xs:string">
							<xs:annotation>
								<xs:documentation>
									The category of the metadata (e.g. "Filename")
								</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="value" type="xs:string">
							<xs:annotation>
								<xs:documentation>
									The value of the metadata (e.g. "Test.xml")
								</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
	<xs:simpleType name="severity">
		<xs:restriction base="xs:string">
			<xs:enumeration value="DEBUG">
				<xs:annotation>
					<xs:documentation>Debug-level messages</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="INFORMATIONAL">
				<xs:annotation>
					<xs:documentation>Informational messages</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="NOTICE">
				<xs:annotation>
					<xs:documentation>Normal but significant condition</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="WARNING">
				<xs:annotation>
					<xs:documentation>Warning conditions</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ERROR">
				<xs:annotation>
					<xs:documentation>Error conditions</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CRITICAL">
				<xs:annotation>
					<xs:documentation>Critical conditions</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ALERT">
				<xs:annotation>
					<xs:documentation>Action must be taken immediately</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="EMERGENCY">
				<xs:annotation>
					<xs:documentation>System is unusable</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
